

:root{
    --pt-to-px: 1.33px; /* 1 pt = 1.33 px */
}

body{
    width: 100%;
    margin: 0 auto;
    padding: 35px;
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1; 
}

h1{
    font-size: 3.6rem; /* hago la conversion de unidades directamente acá usando la funcion calc */
}

p{
    font-size: 1.43rem;
}

.highlight{
    background-color: #3ffff3;
}

.img-phone {
    width: 200px;
    height: 100%;
}

.background{
    
    background-image: url(images/background.jpeg);
    background-repeat: repeat-x;
    background-position: 0;
}